<div class="conatiner-fluid content-inner mt-n5 py-0">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="row row-cols-1">
                <div class="overflow-hidden d-slider1 ">
                    <ul class="p-0 m-0 mb-2 swiper-wrapper list-inline">
                        <li class="swiper-slide card card-slide" data-aos="fade-up" data-aos-delay="700">
                            <div class="card-body">
                                <div class="progress-widget">
                                    <div id="circle-progress-01"
                                        class="text-center circle-progress-01 circle-progress circle-progress-primary"
                                        data-min-value="0" data-max-value="100" data-value="90" data-type="percent">
                                        <svg class="card-slie-arrow icon-24" width="24" viewBox="0 0 24 24">
                                            <path fill="currentColor"
                                                d="M5,17.59L15.59,7H9V5H19V15H17V8.41L6.41,19L5,17.59Z" />
                                        </svg>
                                    </div>
                                    <div class="progress-detail">
                                        <p class="mb-2 fw-bold text-dark">Personal</p>
                                        <h4 class="counter">
                                            <%= totalPersonal %>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="swiper-slide card card-slide" data-aos="fade-up" data-aos-delay="800">
                            <div class="card-body">
                                <div class="progress-widget">
                                    <div id="circle-progress-02"
                                        class="text-center circle-progress-01 circle-progress circle-progress-info"
                                        data-min-value="0" data-max-value="100" data-value="80" data-type="percent">
                                        <svg class="card-slie-arrow icon-24" width="24" viewBox="0 0 24 24">
                                            <path fill="currentColor"
                                                d="M19,6.41L17.59,5L7,15.59V9H5V19H15V17H8.41L19,6.41Z" />
                                        </svg>
                                    </div>
                                    <div class="progress-detail">
                                        <p class="mb-2">Directores</p>
                                        <h4 class="counter">
                                            <%= totalDirectores %>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="swiper-slide card card-slide" data-aos="fade-up" data-aos-delay="900">
                            <div class="card-body">
                                <div class="progress-widget">
                                    <div id="circle-progress-03"
                                        class="text-center circle-progress-01 circle-progress circle-progress-primary"
                                        data-min-value="0" data-max-value="100" data-value="70" data-type="percent">
                                        <svg class="card-slie-arrow icon-24" width="24" viewBox="0 0 24 24">
                                            <path fill="currentColor"
                                                d="M19,6.41L17.59,5L7,15.59V9H5V19H15V17H8.41L19,6.41Z" />
                                        </svg>
                                    </div>
                                    <div class="progress-detail">
                                        <p class="mb-2">Docentes</p>
                                        <h4 class="counter">
                                            <%= totalDocentes %>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="swiper-slide card card-slide" data-aos="fade-up" data-aos-delay="1000">
                            <div class="card-body">
                                <div class="progress-widget">
                                    <div id="circle-progress-04"
                                        class="text-center circle-progress-01 circle-progress circle-progress-info"
                                        data-min-value="0" data-max-value="100" data-value="60" data-type="percent">
                                        <svg class="card-slie-arrow icon-24" width="24px" viewBox="0 0 24 24">
                                            <path fill="currentColor"
                                                d="M5,17.59L15.59,7H9V5H19V15H17V8.41L6.41,19L5,17.59Z" />
                                        </svg>
                                    </div>
                                    <div class="progress-detail">
                                        <p class="mb-2">Auxiliar Administrativo</p>
                                        <h4 class="counter">
                                            <%= totalAuxiliares %>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="swiper-slide card card-slide" data-aos="fade-up" data-aos-delay="1100">
                            <div class="card-body">
                                <div class="progress-widget">
                                    <div id="circle-progress-05"
                                        class="text-center circle-progress-01 circle-progress circle-progress-primary"
                                        data-min-value="0" data-max-value="100" data-value="50" data-type="percent">
                                        <svg class="card-slie-arrow icon-24" width="24px" viewBox="0 0 24 24">
                                            <path fill="currentColor"
                                                d="M5,17.59L15.59,7H9V5H19V15H17V8.41L6.41,19L5,17.59Z" />
                                        </svg>
                                    </div>
                                    <div class="progress-detail">
                                        <p class="mb-2">Auxiliar servicio</p>
                                        <h4 class="counter">
                                            <%= totalDocenteApoyo %>
                                        </h4>

                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="swiper-slide card card-slide" data-aos="fade-up" data-aos-delay="1200">
                            <div class="card-body">
                                <div class="progress-widget">
                                    <div id="circle-progress-06"
                                        class="text-center circle-progress-01 circle-progress circle-progress-info"
                                        data-min-value="0" data-max-value="100" data-value="40" data-type="percent">
                                        <svg class="card-slie-arrow icon-24" width="24" viewBox="0 0 24 24">
                                            <path fill="currentColor"
                                                d="M19,6.41L17.59,5L7,15.59V9H5V19H15V17H8.41L19,6.41Z" />
                                        </svg>
                                    </div>
                                    <div class="progress-detail">
                                        <p class="mb-2">Estatal</p>
                                        <h4 class="counter">
                                            <%= totalEstatal %>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="swiper-slide card card-slide" data-aos="fade-up" data-aos-delay="1300">
                            <div class="card-body">
                                <div class="progress-widget">
                                    <div id="circle-progress-07"
                                        class="text-center circle-progress-01 circle-progress circle-progress-primary"
                                        data-min-value="0" data-max-value="100" data-value="30" data-type="percent">
                                        <svg class="card-slie-arrow icon-24 " width="24" viewBox="0 0 24 24">
                                            <path fill="currentColor"
                                                d="M19,6.41L17.59,5L7,15.59V9H5V19H15V17H8.41L19,6.41Z" />
                                        </svg>
                                    </div>
                                    <div class="progress-detail">
                                        <p class="mb-2">Federal</p>
                                        <h4 class="counter">
                                            <%= totalFederal %>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="swiper-button swiper-button-next"></div>
                    <div class="swiper-button swiper-button-prev"></div>
                </div>
            </div>
        </div>
        <!-- Tabla Procesos en Tr치nsito (se mantiene en la columna de la izquierda) -->
        <div class="col-lg-7 col-md-12">
            <div class="card card-block card-stretch card-height" data-aos="fade-up" data-aos-delay="700">
                <nav class="tab-bottom-bordered mb-4 mt-3">
                    <div class="ms-3 mt-3 mb-2 nav nav-tabs justify-content-start" id="nav-tab1" role="tablist">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="navDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                Selecciona una opci칩n
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="navDropdown">
                                <li><a class="dropdown-item active" id="nav-home-11-tab" data-bs-toggle="tab" data-bs-target="#nav-home-11" type="button" role="tab" aria-controls="nav-home-11" aria-selected="true">Procesos Pendientes</a></li>
                                <li><a class="dropdown-item" id="nav-profile-11-tab" data-bs-toggle="tab" data-bs-target="#nav-profile-11" type="button" role="tab" aria-controls="nav-profile-11" aria-selected="false">Becas</a></li>
                                <li><a class="dropdown-item" id="nav-docentes-11-tab" data-bs-toggle="tab" data-bs-target="#nav-docentes-11" type="button" role="tab" aria-controls="nav-docentes-11" aria-selected="false">Docentes Disponibles</a></li>
                                <li><a class="dropdown-item" id="nav-nombramientos-11-tab" data-bs-toggle="tab" data-bs-target="#nav-nombramientos-11" type="button" role="tab" aria-controls="nav-nombramientos-11" aria-selected="false">Nombramientos</a></li>
                                <li><a class="dropdown-item" id="nav-salud-11-tab" data-bs-toggle="tab" data-bs-target="#nav-salud-11" type="button" role="tab" aria-controls="nav-salud-11" aria-selected="false">Salud Inseguridad</a></li>
                                <li><a class="dropdown-item" id="nav-cambio-11-tab" data-bs-toggle="tab" data-bs-target="#nav-cambio-11" type="button" role="tab" aria-controls="nav-cambio-11" aria-selected="false">Solicitudes de cambio</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
                
                
                

                <div class="tab-content iq-tab-fade-up" id="nav-tabContent" style="height: auto; overflow-y: auto;">
                    <!-- Tabla Procesos pendientes -->
                   
                    <div class="tab-pane fade show active" id="nav-home-11" role="tabpanel" aria-labelledby="nav-home-11-tab">
                        <h4 class="text-center text-gray mb-3">Procesos En transito</h4>
                        <%- include('partials/home/tablas/procesos-pendientes', { pendientes: pendientes }) %>
                    </div>
                
                    <div class="tab-pane fade" id="nav-profile-11" role="tabpanel" aria-labelledby="nav-profile-11-tab">
                        <h4 class="text-center text-gray mb-3">Becas Comisi칩n</h4>
                        <div class="table-responsive">
                            <%- include('partials/home/tablas/becas', { becas: becas }) %>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="nav-docentes-11" role="tabpanel" aria-labelledby="nav-profile-11-tab">
                        <!-- Agregar un encabezado h4 con el texto "Docentes" -->
                        <h4 class="text-center text-gray mb-3">Docentes Disponibles</h4>
                        <div class="table-responsive">
                            <%- include('partials/home/tablas/docentes', { docentesDisponibles: docentesDisponibles }) %>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="nav-nombramientos-11" role="tabpanel" aria-labelledby="nav-nombramientos-11">
                        <h4 class="text-center text-gray mb-3">Nombramientos Docentes</h4>
                        <div class="table-responsive">
                            <%- include('partials/home/tablas/nombramientos', { nombramientos: nombramientos }) %>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-salud-11" role="tabpanel" aria-labelledby="nav-salud-11">
                        <h4 class="text-center text-gray mb-3">Salud & Inseguridad</h4>
                        <div class="table-responsive">
                            <%- include('partials/home/tablas/salud', { salud:salud}) %>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-cambio-11" role="tabpanel" aria-labelledby="nav-cambio-11">
                        <h4 class="text-center text-gray mb-3">Solicitudes De Cambio</h4>
                        <div class="table-responsive">
                            <%- include('partials/home/tablas/cambio', { cambio:cambio}) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-lg-5">
            <div class="card" data-aos="fade-up" data-aos-delay="750">
                <div class="flex-wrap card-header d-flex justify-content-between">
                    <div class="header-title">
                        <h4 class="mb-2 card-title">Lista de Pendientes</h4>
                        <h4 class="counter">
                            <%= listaPendientes.np %>
                        </h4>
                        <p class="mb-0">
                            <svg class="me-2 icon-24" width="24" height="24" viewBox="0 0 24 24">
                                <path fill="#17904b"
                                    d="M13,20H11V8L5.5,13.5L4.08,12.08L12,4.16L19.92,12.08L18.5,13.5L13,8V20Z" />
                            </svg>
                        </p>
                    </div>
                </div>
    
                <div class="card-body" style="height: 700px; overflow: hidden; padding-bottom: 3rem;">
                    <!-- Contenedor para los pendientes -->
                    <div class="overflow-auto" style="max-height: 600px;">
                      <% if (listaPendientes.length > 0) { %>
                        <% listaPendientes.forEach(pendiente => { %>
                            <div class="mb-2 d-flex profile-media align-items-top">
                                <div class="mt-1 profile-dots-pills border-primary"></div>
                                <div class="ms-4 d-flex flex-column">
                                    <h6 class="mb-1">
                                        NP <%= pendiente.np %>  
                                        <% if (pendiente.fecha) { 
                                          const fecha = new Date(pendiente.fecha); 
                                          const opciones = { day: '2-digit', month: 'short', year: '2-digit' }; 
                                          const fechaFormateada = fecha.toLocaleDateString('es-ES', opciones).replace(/^\w/, c => c.toUpperCase());
                                        %>
                                          - <span class="text-gray"><%= fechaFormateada.replace('.', '') %></span>
                                        <% } %>
                                      </h6>
                                      
                                      
                                  <span class="mb-2 text-primary">
                                    <%= pendiente.tramite %>  
                                  </span>
                                  <span class="mb-2">
                                    <%= pendiente.observaciones_conflictos %>  
                                  </span>
                                </div>
                                <div class="ms-auto d-flex flex-column justify-content-start align-items-end mt-2 me-3">
                                    <span class="badge rounded-pill 
                                    <%= pendiente.estatus === 'En proceso' ? 'bg-primary' : 
                                    pendiente.estatus === 'Terminado' ? 'bg-success' : 
                                    pendiente.estatus === 'No se atiende' ? 'bg-warning' : 
                                    'bg-secondary' %> 
                                    mt-n1"><%= pendiente.estatus %>
                                  </span>
                                </div>
                                  
                              </div>
                              
                        <% }); %>
                      <% } else { %>
                        <p>No hay pendientes disponibles</p>
                      <% } %>
                    </div>
                    <a href="/lista-pendientes" class="w-100">
                      <button class="btn btn-primary rounded-pill mt-4 d-block mx-auto">Ver M치s</button>
                    </a>
                  </div>
                  
            </div>
        </div>
        
        <!--Grafica de procesos en transito-->
        <!-- <div class="col-md-12 col-lg-6" style="height: 500px;">
            <div class="row">
                <div class="col-md-12">
                    <div class="card" data-aos="fade-up" data-aos-delay="800">
                        <%- include('partials/home/graficas/procesos-en-transito') %>
                    </div>
                </div>
            </div>
        </div> -->
    </div>