<div class="conatiner-fluid content-inner mt-n5 py-0">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="row row-cols-1">
                <div class="overflow-hidden d-slider1 ">
                    <ul class="p-0 m-0 mb-2 swiper-wrapper list-inline">
                        <li class="swiper-slide card card-slide" data-aos="fade-up" data-aos-delay="700">
                            <div class="card-body">
                                <div class="progress-widget">
                                    <div id="circle-progress-01"
                                        class="text-center circle-progress-01 circle-progress circle-progress-primary"
                                        data-min-value="0" data-max-value="100" data-value="90" data-type="percent">
                                        <svg class="card-slie-arrow icon-24" width="24" viewBox="0 0 24 24">
                                            <path fill="currentColor"
                                                d="M5,17.59L15.59,7H9V5H19V15H17V8.41L6.41,19L5,17.59Z" />
                                        </svg>
                                    </div>
                                    <div class="progress-detail">
                                        <p class="mb-2 fw-bold text-dark">Personal</p>
                                        <h4 class="counter">
                                            <%= totalPersonal %>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="swiper-slide card card-slide" data-aos="fade-up" data-aos-delay="800">
                            <div class="card-body">
                                <div class="progress-widget">
                                    <div id="circle-progress-02"
                                        class="text-center circle-progress-01 circle-progress circle-progress-info"
                                        data-min-value="0" data-max-value="100" data-value="80" data-type="percent">
                                        <svg class="card-slie-arrow icon-24" width="24" viewBox="0 0 24 24">
                                            <path fill="currentColor"
                                                d="M19,6.41L17.59,5L7,15.59V9H5V19H15V17H8.41L19,6.41Z" />
                                        </svg>
                                    </div>
                                    <div class="progress-detail">
                                        <p class="mb-2">Directores</p>
                                        <h4 class="counter">
                                            <%= totalDirectores %>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="swiper-slide card card-slide" data-aos="fade-up" data-aos-delay="900">
                            <div class="card-body">
                                <div class="progress-widget">
                                    <div id="circle-progress-03"
                                        class="text-center circle-progress-01 circle-progress circle-progress-primary"
                                        data-min-value="0" data-max-value="100" data-value="70" data-type="percent">
                                        <svg class="card-slie-arrow icon-24" width="24" viewBox="0 0 24 24">
                                            <path fill="currentColor"
                                                d="M19,6.41L17.59,5L7,15.59V9H5V19H15V17H8.41L19,6.41Z" />
                                        </svg>
                                    </div>
                                    <div class="progress-detail">
                                        <p class="mb-2">Docentes</p>
                                        <h4 class="counter">
                                            <%= totalDocentes %>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="swiper-slide card card-slide" data-aos="fade-up" data-aos-delay="1000">
                            <div class="card-body">
                                <div class="progress-widget">
                                    <div id="circle-progress-04"
                                        class="text-center circle-progress-01 circle-progress circle-progress-info"
                                        data-min-value="0" data-max-value="100" data-value="60" data-type="percent">
                                        <svg class="card-slie-arrow icon-24" width="24px" viewBox="0 0 24 24">
                                            <path fill="currentColor"
                                                d="M5,17.59L15.59,7H9V5H19V15H17V8.41L6.41,19L5,17.59Z" />
                                        </svg>
                                    </div>
                                    <div class="progress-detail">
                                        <p class="mb-2">Auxiliar Administrativo</p>
                                        <h4 class="counter">
                                            <%= totalAuxiliares %>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="swiper-slide card card-slide" data-aos="fade-up" data-aos-delay="1100">
                            <div class="card-body">
                                <div class="progress-widget">
                                    <div id="circle-progress-05"
                                        class="text-center circle-progress-01 circle-progress circle-progress-primary"
                                        data-min-value="0" data-max-value="100" data-value="50" data-type="percent">
                                        <svg class="card-slie-arrow icon-24" width="24px" viewBox="0 0 24 24">
                                            <path fill="currentColor"
                                                d="M5,17.59L15.59,7H9V5H19V15H17V8.41L6.41,19L5,17.59Z" />
                                        </svg>
                                    </div>
                                    <div class="progress-detail">
                                        <p class="mb-2">Auxiliar servicio</p>
                                        <h4 class="counter">
                                            <%= totalDocenteApoyo %>
                                        </h4>

                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="swiper-slide card card-slide" data-aos="fade-up" data-aos-delay="1200">
                            <div class="card-body">
                                <div class="progress-widget">
                                    <div id="circle-progress-06"
                                        class="text-center circle-progress-01 circle-progress circle-progress-info"
                                        data-min-value="0" data-max-value="100" data-value="40" data-type="percent">
                                        <svg class="card-slie-arrow icon-24" width="24" viewBox="0 0 24 24">
                                            <path fill="currentColor"
                                                d="M19,6.41L17.59,5L7,15.59V9H5V19H15V17H8.41L19,6.41Z" />
                                        </svg>
                                    </div>
                                    <div class="progress-detail">
                                        <p class="mb-2">Estatal</p>
                                        <h4 class="counter">
                                            <%= totalEstatal %>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="swiper-slide card card-slide" data-aos="fade-up" data-aos-delay="1300">
                            <div class="card-body">
                                <div class="progress-widget">
                                    <div id="circle-progress-07"
                                        class="text-center circle-progress-01 circle-progress circle-progress-primary"
                                        data-min-value="0" data-max-value="100" data-value="30" data-type="percent">
                                        <svg class="card-slie-arrow icon-24 " width="24" viewBox="0 0 24 24">
                                            <path fill="currentColor"
                                                d="M19,6.41L17.59,5L7,15.59V9H5V19H15V17H8.41L19,6.41Z" />
                                        </svg>
                                    </div>
                                    <div class="progress-detail">
                                        <p class="mb-2">Federal</p>
                                        <h4 class="counter">
                                            <%= totalFederal %>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="swiper-button swiper-button-next"></div>
                    <div class="swiper-button swiper-button-prev"></div>
                </div>
            </div>
        </div>
        <!-- Tabla Procesos en Tr치nsito (se mantiene en la columna de la izquierda) -->
        <div class="col-lg-7 col-md-12">
            <div class="card card-block card-stretch card-height" data-aos="fade-up" data-aos-delay="700">
                <nav class="tab-bottom-bordered mb-4 mt-3">
                    <div class="ms-3 mt-3 mb-2 nav nav-tabs justify-content-start" id="nav-tab1" role="tablist">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="navDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                Selecciona una opci칩n
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="navDropdown">
                                <li><a class="dropdown-item" id="nav-home-11-tab" data-bs-toggle="tab" data-bs-target="#nav-home-11" type="button" role="tab" aria-controls="nav-home-11" aria-selected="true">Procesos Pendientes</a></li>
                                <li><a class="dropdown-item" id="nav-profile-11-tab" data-bs-toggle="tab" data-bs-target="#nav-profile-11" type="button" role="tab" aria-controls="nav-profile-11" aria-selected="false">Becas</a></li>
                                <li><a class="dropdown-item" id="nav-docentes-11-tab" data-bs-toggle="tab" data-bs-target="#nav-docentes-11" type="button" role="tab" aria-controls="nav-docentes-11" aria-selected="false">Docentes Disponibles</a></li>
                                <li><a class="dropdown-item" id="nav-nombramientos-11-tab" data-bs-toggle="tab" data-bs-target="#nav-nombramientos-11" type="button" role="tab" aria-controls="nav-nombramientos-11" aria-selected="false">Nombramientos</a></li>
                                <li><a class="dropdown-item" id="nav-salud-11-tab" data-bs-toggle="tab" data-bs-target="#nav-salud-11" type="button" role="tab" aria-controls="nav-salud-11" aria-selected="false">Salud Inseguridad</a></li>
                                <li><a class="dropdown-item" id="nav-cambio-11-tab" data-bs-toggle="tab" data-bs-target="#nav-cambio-11" type="button" role="tab" aria-controls="nav-cambio-11" aria-selected="false">Solicitudes de cambio</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
                
                

                <div class="tab-content iq-tab-fade-up" id="nav-tabContent" style="height: 700px; overflow-y: auto;">
                    <!-- Tabla Procesos pendientes -->
                    <div class="tab-pane fade show active" id="nav-home-11" role="tabpanel" aria-labelledby="nav-home-11-tab">
                        <%- include('partials/home/tablas/procesos-pendientes', { pendientes: pendientes }) %>
                    </div>
                
                    <div class="tab-pane fade" id="nav-profile-11" role="tabpanel" aria-labelledby="nav-profile-11-tab">
                        <div class="table-responsive">
                            <%- include('partials/home/tablas/becas', { becas: becas }) %>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="nav-docentes-11" role="tabpanel" aria-labelledby="nav-profile-11-tab">
                        <div class="table-responsive">
                            <%- include('partials/home/tablas/docentes', { docentesDisponibles: docentesDisponibles }) %>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="nav-nombramientos-11" role="tabpanel" aria-labelledby="nav-nombramientos-11">
                        <div class="table-responsive">
                            <%- include('partials/home/tablas/nombramientos', { nombramientos: nombramientos }) %>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-salud-11" role="tabpanel" aria-labelledby="nav-salud-11">
                        <div class="table-responsive">
                            <%- include('partials/home/tablas/salud', { salud:salud}) %>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-cambio-11" role="tabpanel" aria-labelledby="nav-cambio-11">
                        <div class="table-responsive">
                            <%- include('partials/home/tablas/cambio', { cambio:cambio}) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-lg-5">
            <div class="card" data-aos="fade-up" data-aos-delay="750">
                <div class="flex-wrap card-header d-flex justify-content-between">
                    <div class="header-title">
                        <h4 class="mb-2 card-title">Lista de Pendientes</h4>
                        <h4 class="counter">
                            <%= listaPendientes.np %>
                        </h4>
                        <p class="mb-0">
                            <svg class="me-2 icon-24" width="24" height="24" viewBox="0 0 24 24">
                                <path fill="#17904b"
                                    d="M13,20H11V8L5.5,13.5L4.08,12.08L12,4.16L19.92,12.08L18.5,13.5L13,8V20Z" />
                            </svg>
                        </p>
                    </div>
                </div>
    
                <div class="card-body" style="height: 700px; overflow: hidden; padding-bottom: 3rem;">
                    <!-- Contenedor para los pendientes -->
                    <div class="overflow-auto" style="max-height: 600px;">
                      <% if (listaPendientes.length > 0) { %>
                        <% listaPendientes.forEach(pendiente => { %>
                            <div class="mb-2 d-flex profile-media align-items-top">
                                <div class="mt-1 profile-dots-pills border-primary"></div>
                                <div class="ms-4 d-flex flex-column">
                                    <h6 class="mb-1">
                                        NP <%= pendiente.np %>  
                                        <% if (pendiente.fecha) { 
                                          const fecha = new Date(pendiente.fecha); 
                                          const opciones = { day: '2-digit', month: 'short', year: '2-digit' }; 
                                          const fechaFormateada = fecha.toLocaleDateString('es-ES', opciones).replace(/^\w/, c => c.toUpperCase());
                                        %>
                                          - <span class="text-gray"><%= fechaFormateada.replace('.', '') %></span>
                                        <% } %>
                                      </h6>
                                      
                                      
                                  <span class="mb-2 text-primary">
                                    <%= pendiente.tramite %>  
                                  </span>
                                  <span class="mb-2">
                                    <%= pendiente.observaciones_conflictos %>  
                                  </span>
                                </div>
                                <div class="ms-auto d-flex flex-column justify-content-start align-items-end mt-2 me-3">
                                    <span class="badge rounded-pill 
                                    <%= pendiente.estatus === 'En proceso' ? 'bg-primary' : 
                                    pendiente.estatus === 'Terminado' ? 'bg-success' : 
                                    pendiente.estatus === 'No se atiende' ? 'bg-warning' : 
                                    'bg-secondary' %> 
                                    mt-n1"><%= pendiente.estatus %>
                                  </span>
                                </div>
                                  
                              </div>
                              
                        <% }); %>
                      <% } else { %>
                        <p>No hay pendientes disponibles</p>
                      <% } %>
                    </div>
                    <a href="/lista-pendientes" class="w-100">
                      <button class="btn btn-primary rounded-pill mt-4 d-block mx-auto">Ver M치s</button>
                    </a>
                  </div>
                  
            </div>
        </div>
        
        <!--Grafica de procesos en transito-->
        <div class="col-md-12 col-lg-6" style="height: 500px;">
            <div class="row">
                <div class="col-md-12">
                    <div class="card" data-aos="fade-up" data-aos-delay="800">
                        <%- include('partials/home/graficas/procesos-en-transito') %>
                    </div>
                </div>
            </div>
        </div>


    <div class="col-md-12 col-lg-6">
        <div class="row">
            <div class="col-md-12">
                <div class="card" data-aos="fade-up" data-aos-delay="800">
                    <div class="flex-wrap card-header d-flex justify-content-between align-items-center">
                        <div class="header-title">
                            <h4 class="card-title">

                            </h4>
                            <p class="mb-0"></p>
                        </div>
                        <div class="d-flex align-items-center align-self-center">
                            <div class="d-flex align-items-center text-primary">
                                <svg class="icon-12" xmlns="http://www.w3.org/2000/svg" width="12"
                                    viewBox="0 0 24 24" fill="currentColor">
                                    <g>
                                        <circle cx="12" cy="12" r="8" fill="currentColor"></circle>
                                    </g>
                                </svg>
                                <div class="ms-2">
                                    <span class="text-gray">Completados</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center ms-3 text-info">
                                <svg class="icon-12" xmlns="http://www.w3.org/2000/svg" width="12"
                                    viewBox="0 0 24 24" fill="currentColor">
                                    <g>
                                        <circle cx="12" cy="12" r="8" fill="currentColor"></circle>
                                    </g>
                                </svg>
                                <div class="ms-2">
                                    <span class="text-gray">En tr치nsito</span>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown">
                            <a href="#" class="text-gray dropdown-toggle" id="dropdownMenuButton22"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Esta semana
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton22">
                                <li><a class="dropdown-item" href="#">Semana</a></li>
                                <li><a class="dropdown-item" href="#">Mes</a></li>
                                <li><a class="dropdown-item" href="#">Perido</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="d-main" class="d-main"></div>
                    </div>
                </div>
            </div>

            
            <div class="col-md-12 col-xl-6">
                <div class="card" data-aos="fade-up" data-aos-delay="900">
                    <div class="flex-wrap card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Salud</h4>
                        </div>
                        <div class="dropdown">
                            <a href="#" class="text-gray dropdown-toggle" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Esta semana
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="#">Semana</a></li>
                                <li><a class="dropdown-item" href="#">Mes</a></li>
                                <li><a class="dropdown-item" href="#">Perido</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="flex-wrap d-flex align-items-center justify-content-between">
                            <div id="myChart" class="col-md-8 col-lg-8 myChart"></div>
                            <div class="d-grid gap col-md-4 col-lg-4">
                                <div class="d-flex align-items-start">
                                    <svg class="mt-2 icon-14" xmlns="http://www.w3.org/2000/svg" width="14"
                                        viewBox="0 0 24 24" fill="#3a57e8">
                                        <g>
                                            <circle cx="12" cy="12" r="8" fill="#3a57e8"></circle>
                                        </g>
                                    </svg>
                                    <div class="ms-3">
                                        <span class="text-gray">Completados</span>
                                        <h6>12</h6>
                                    </div>
                                </div>
                                <div class="d-flex align-items-start">
                                    <svg class="mt-2 icon-14" xmlns="http://www.w3.org/2000/svg" width="14"
                                        viewBox="0 0 24 24" fill="#4bc7d2">
                                        <g>
                                            <circle cx="12" cy="12" r="8" fill="#4bc7d2"></circle>
                                        </g>
                                    </svg>
                                    <div class="ms-3">
                                        <span class="text-gray">Incompletos</span>
                                        <h6>32</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-xl-6">
                <div class="card" data-aos="fade-up" data-aos-delay="900">
                    <div class="flex-wrap card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Salud</h4>
                        </div>
                        <div class="dropdown">
                            <a href="#" class="text-gray dropdown-toggle" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Esta semana
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="#">Semana</a></li>
                                <li><a class="dropdown-item" href="#">Mes</a></li>
                                <li><a class="dropdown-item" href="#">Perido</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="flex-wrap d-flex align-items-center justify-content-between">
                            <div id="myChart" class="col-md-8 col-lg-8 myChart"></div>
                            <div class="d-grid gap col-md-4 col-lg-4">
                                <div class="d-flex align-items-start">
                                    <svg class="mt-2 icon-14" xmlns="http://www.w3.org/2000/svg" width="14"
                                        viewBox="0 0 24 24" fill="#3a57e8">
                                        <g>
                                            <circle cx="12" cy="12" r="8" fill="#3a57e8"></circle>
                                        </g>
                                    </svg>
                                    <div class="ms-3">
                                        <span class="text-gray">Completados</span>
                                        <h6>12</h6>
                                    </div>
                                </div>
                                <div class="d-flex align-items-start">
                                    <svg class="mt-2 icon-14" xmlns="http://www.w3.org/2000/svg" width="14"
                                        viewBox="0 0 24 24" fill="#4bc7d2">
                                        <g>
                                            <circle cx="12" cy="12" r="8" fill="#4bc7d2"></circle>
                                        </g>
                                    </svg>
                                    <div class="ms-3">
                                        <span class="text-gray">Incompletos</span>
                                        <h6>32</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-12 col-xl-6">
                <div class="card" data-aos="fade-up" data-aos-delay="1000">
                    <div class="flex-wrap card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Movimientos completados</h4>
                        </div>
                        <div class="dropdown">
                            <a href="#" class="text-gray dropdown-toggle" id="dropdownMenuButton3"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Esta semana
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton3">
                                <li><a class="dropdown-item" href="#">Semana</a></li>
                                <li><a class="dropdown-item" href="#">Mes</a></li>
                                <li><a class="dropdown-item" href="#">Perido</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="d-activity" class="d-activity"></div>
                    </div>
                </div>
            </div>


            <div class="col-md-12 col-xl-6">
                <div class="card" data-aos="fade-up" data-aos-delay="1000">
                    <div class="flex-wrap card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Movimientos completados</h4>
                        </div>
                        <div class="dropdown">
                            <a href="#" class="text-gray dropdown-toggle" id="dropdownMenuButton3"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Esta semana
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton3">
                                <li><a class="dropdown-item" href="#">Semana</a></li>
                                <li><a class="dropdown-item" href="#">Mes</a></li>
                                <li><a class="dropdown-item" href="#">Perido</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="d-activity" class="d-activity"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>

        <div class="col-lg-6 col-md-12">
            <div class="card card-block card-stretch card-height">
                <nav class="tab-bottom-bordered">
                    <div class="mb-0 nav nav-tabs justify-content-around" id="nav-tab1" role="tablist">
                        <button class="nav-link py-3" id="nav-home-11-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-home-11" type="button" role="tab" aria-controls="nav-home-11"
                            aria-selected="false" tabindex="-1">Payments</button>
                        <button class="nav-link py-3 active" id="nav-profile-11-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-profile-11" type="button" role="tab" aria-controls="nav-profile-11"
                            aria-selected="true">Settlements</button>
                        <button class="nav-link py-3" id="nav-contact-11-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-contact-11" type="button" role="tab" aria-controls="nav-contact-11"
                            aria-selected="false" tabindex="-1">Refunds</button>
                    </div>
                </nav>
                <div class="tab-content iq-tab-fade-up" id="nav-tabContent">
                    <div class="tab-pane fade" id="nav-home-1" role="tabpanel" aria-labelledby="nav-home-11-tab">
                        <div class="table-responsive">
                            <table id="transaction-table" class="table mb-0 table-striped" role="grid">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <h6 class="mb-0">$1,833</h6>
                                            </div>
                                        </td>
                                        <td class="text-primary">
                                            hui_vxnnjigakm
                                        </td>
                                        <td class="text-dark">1 Hour Ago</td>
                                        <td class="text-end">
                                            <span class="badge rounded-pill bg-success ">Processed</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <h6 class="mb-0">$1,204</h6>
                                            </div>
                                        </td>
                                        <td class="text-primary">
                                            hui_uwsxaiuhhs
                                        </td>
                                        <td class="text-dark">23 Days Ago</td>
                                        <td class="text-end">
                                            <span class="badge rounded-pill bg-success">Processed</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <h6 class="mb-0">$2,833</h6>
                                            </div>
                                        </td>
                                        <td class="text-primary">
                                            hui_taxrcfzhny
                                        </td>
                                        <td class="text-dark">1 month ago</td>
                                        <td class="text-end">
                                            <span class="badge rounded-pill bg-success">Processed</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <h6 class="mb-0">$2,235</h6>
                                            </div>
                                        </td>
                                        <td class="text-primary">
                                            hui_pknfotsmhl
                                        </td>
                                        <td class="text-dark">1 month ago</td>
                                        <td class="text-end">
                                            <span class="badge rounded-pill bg-success">Processed</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <h6 class="mb-0">$2,442</h6>
                                            </div>
                                        </td>
                                        <td class="text-primary">
                                            hui_xqgczqbgto
                                        </td>
                                        <td class="text-dark">3 month ago</td>
                                        <td class="text-end">
                                            <span class="badge rounded-pill bg-success">Processed</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <h6 class="mb-0">$1,924</h6>
                                            </div>
                                        </td>
                                        <td class="text-primary">
                                            hui_eoasrkizdw
                                        </td>
                                        <td class="text-dark">4 month ago</td>
                                        <td class="text-end">
                                            <span class="badge rounded-pill bg-success">Processed</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade active show" id="nav-profile-11" role="tabpanel"
                        aria-labelledby="nav-profile-11-tab">
                        <div class="table-responsive">
                            <table id="transaction-table-1" class="table mb-0 table-striped" role="grid">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <h6 class="mb-0">$2,298</h6>
                                            </div>
                                        </td>
                                        <td class="text-primary">
                                            hui_ufsoishqbw
                                        </td>
                                        <td class="text-dark">7 Days Ago</td>
                                        <td class="text-end">
                                            <span class="badge rounded-pill bg-success ">Processed</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <h6 class="mb-0">$2,032</h6>
                                            </div>
                                        </td>
                                        <td class="text-primary">
                                            hui_fescijfgbb
                                        </td>
                                        <td class="text-dark">23 Days </td>
                                        <td class="text-end">
                                            <span class="badge rounded-pill bg-success">Processed</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <h6 class="mb-0">$1,514</h6>
                                            </div>
                                        </td>
                                        <td class="text-primary">
                                            hui_eihghndltk
                                        </td>
                                        <td class="text-dark">1 month ago</td>
                                        <td class="text-end">
                                            <span class="badge rounded-pill bg-success">Processed</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <h6 class="mb-0">$1,425</h6>
                                            </div>
                                        </td>
                                        <td class="text-primary">
                                            hui_bvihnfpdfq
                                        </td>
                                        <td class="text-dark">2 month ago</td>
                                        <td class="text-end">
                                            <span class="badge rounded-pill bg-success">Processed</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <h6 class="mb-0">$2,838</h6>
                                            </div>
                                        </td>
                                        <td class="text-primary">
                                            hui_afrtmvdyjp
                                        </td>
                                        <td class="text-dark">2 month ago</td>
                                        <td class="text-end">
                                            <span class="badge rounded-pill bg-success">Processed</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <h6 class="mb-0">$2,613</h6>
                                            </div>
                                        </td>
                                        <td class="text-primary">
                                            hui_jterqcvjxz
                                        </td>
                                        <td class="text-dark">5 month ago</td>
                                        <td class="text-end">
                                            <span class="badge rounded-pill bg-success">Processed</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-contact-11" role="tabpanel" aria-labelledby="nav-contact-11-tab">
                        <div class="table-responsive">
                            <table id="transaction-table-2" class="table mb-0 table-striped" role="grid">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <h6 class="mb-0">$2,866</h6>
                                            </div>
                                        </td>
                                        <td class="text-primary">
                                            hui_odqethdqye
                                        </td>
                                        <td class="text-dark">3 Days Ago</td>
                                        <td class="text-end">
                                            <span class="badge rounded-pill bg-info ">Process</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <h6 class="mb-0">$1,637</h6>
                                            </div>
                                        </td>
                                        <td class="text-primary">
                                            hui_nmngvsosnh
                                        </td>
                                        <td class="text-dark">22 Days Ago</td>
                                        <td class="text-end">
                                            <span class="badge rounded-pill bg-success">Refunded</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <h6 class="mb-0">$2,922</h6>
                                            </div>
                                        </td>
                                        <td class="text-primary">
                                            hui_uikgtphcpo
                                        </td>
                                        <td class="text-dark">1 month ago</td>
                                        <td class="text-end">
                                            <span class="badge rounded-pill bg-success">Refunded</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <h6 class="mb-0">$2,563</h6>
                                            </div>
                                        </td>
                                        <td class="text-primary">
                                            hui_cieqrdyqkp
                                        </td>
                                        <td class="text-dark">2 month ago</td>
                                        <td class="text-end">
                                            <span class="badge rounded-pill bg-info">Process</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <h6 class="mb-0">$2,334</h6>
                                            </div>
                                        </td>
                                        <td class="text-primary">
                                            hui_wmdvzpfavx
                                        </td>
                                        <td class="text-dark">3 month ago</td>
                                        <td class="text-end">
                                            <span class="badge rounded-pill bg-success">Refunded</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <h6 class="mb-0">$2,632</h6>
                                            </div>
                                        </td>
                                        <td class="text-primary">
                                            hui_jplpprjzbr
                                        </td>
                                        <td class="text-dark">5 month ago</td>
                                        <td class="text-end">
                                            <span class="badge rounded-pill bg-danger">Failed</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-end">
                    <a href="javascript:void(0);">
                        <span class="me-2">
                            View all Settlements
                        </span>
                        <svg class="icon-20" width="20" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.5 5L15.5 12L8.5 19" stroke="currentColor" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>




    </div>