<div class="conatiner-fluid content-inner mt-n5 py-0">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          <div class="header-title">
            <h4 class="card-title">Personal</h4>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table
              id="datatable"
              class="table"
              data-toggle="data-table"
            >
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Rfc</th>
                  <th>Nombre</th>
                  <th>Apellido Paterno</th>
                  <th>Apellido Materno</th>
                  <th>Edad</th>
                  <th>Teléfono</th>
                  <th>Correo</th>
                  <th>Cargo</th>
                </tr>
              </thead>
              <tbody>
                <% personal.forEach(persona=> { %>
                <!-- Aquí usamos 'persona' -->
                <tr>
                  <td><%= persona.personal_id %></td>
                  <td><%= persona.rfc %></td>
                  <td><%= persona.nombre %></td>
                  <td><%= persona.apellido_paterno %></td>
                  <td><%= persona.apellido_materno %></td>
                  <td><%= persona.edad %></td>
                  <td><%= persona.telefono %></td>
                  <td><%= persona.correo %></td>
                  <td><%= persona.cargo %></td>
                </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
