<div class="container-fluid content-inner mt-n5 py-0">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-4 col-xl-4">
                            <div class="card card-hover mb-3" data-aos="fade-up" data-aos-delay="500">
                                <div class="card-body text-center p-0 bg-image">
                                    <!-- Contenedor de la imagen -->
                                    <div class="position-relative d-flex justify-content-center align-items-center"
                                        style="width: 220px; height: 220px; background: linear-gradient(135deg, #f0f0f0, #ffffff); border-radius: 50%;">
                                        <img id="profileImage"
                                            src="<%= profileData.imagen ? `/uploads/Fotos-de-perfil-personal/${profileData.imagen}` : '/images/avatars/avatar-default.png' %>"
                                            alt="<%= profileData.nombre || 'Usuario' %>"
                                            class="av-border img-fluid rounded-circle mb-4 mt-3"
                                            style="object-fit: contain; width: 100%; height: 100%;">
                                        <i id="editImageIcon"
                                            class="fas fa-camera text-primary position-absolute bottom-0 end-0 p-2 bg-white rounded-circle d-none"
                                            style="cursor: pointer;"
                                            onclick="document.getElementById('fileInput').click()"></i>
                                        <input type="file" id="fileInput" class="d-none" accept="image/*"
                                            onchange="previewImage(event)">
                                    </div>
                                </div>
                                <hr class="hr-horizontal mb-3">
                                <div class="card-body  text-center">
                                    <h5 class="h5 card-title mb-4">
                                        <span class="d-block">Nombre:</span>
                                        <span id="nombreCompleto" class="fs-4 fs-sm-8 fs-md-6 fs-lg-7 ms-2 d-block">
                                            <%= profileData.nombre || 'Nombre no disponible' %><br class="d-sm-none">
                                            <%= profileData.apellido_paterno || '' %><br class="d-sm-none">
                                            <%= profileData.apellido_materno || '' %>
                                        </span>
                                    </h5>
                                </div>
                            </div>

                            <div class="card" id="cardUbicacion" data-aos="fade-up" data-aos-delay="500">
                                <div class="card-body">
                                    <div class="row">
                                        <hr class="mb-2 mt-2 d-sm-block d-md-block d-lg-none" style="border-top: 1px solid #828282;">
                                        <ul class="list-group list-group-flush" id="perfilUbicacion"></ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- Datos-->
                        <div class="col-md-12 col-lg-8 col-xl-8">
                            <div class="card mb-3" data-aos="fade-up" data-aos-delay="600">
                                <div class="card-body">
                                    <!-- Botón Editar -->
                                    <div class="row justify-content-end" id="editarContenedor">
                                        <div class="col-sm-3 text-end">
                                            <!-- Enlace con el mismo diseño que el botón -->
                                            <div class="flex align-items-center list-user-action">
                                                <a href="javascript:void(0)" id="btnToggleEdicion" onclick="toggleEdicionGlobal()" class="btn btn-sm btn-icon btn-primary">
                                                    <i class="fas fa-edit me-2"></i> Editar
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="mb-2" style="border-top: 1px solid #828282;">
                                    <!-- Contenedor dinámico donde se mostrarán los campos -->
                                    <div id="profileFieldsContainer"></div>
                                    <script>
                                        const profileData = <%- JSON.stringify(profileData) %>;
                                        const detalleLaboral = <%- JSON.stringify(detalleLaboral) %>;
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-12">
                        <div class="card mb-3" data-aos="fade-up" data-aos-delay="600">
                            <div class="card-body" style="height: auto; overflow-y: auto; padding-bottom: 3rem;">
                                <!-- Título principal -->
                                <div class="row bg-primary mb-4">
                                    <h1 class="text-white text-center py-2">Procesos en Tránsito</h1>
                                </div>
                                <div class="row mx-0">
                                    <%- include('partials/perfiles-personal/procesos-tabla-personal') %>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="card mb-3" data-aos="fade-up" data-aos-delay="600">
                            <div class="card-body" style="max-height: 650px; overflow-y: auto; padding-bottom: 3rem;">
                                <div class="mb-3">
                                    <label class="fw-bold">Filtrar por Fecha:</label>
                                    <input type="text" id="dateRangePicker" class="form-control" placeholder="Selecciona rango de fechas">
                                </div>
                                <!-- Título principal -->
                                <div class="row bg-primary">
                                    <h1 class="text-white text-center py-2">Historial</h1>
                                </div>
                    
                                <% Object.keys(historiales).forEach(historialTipo => { %>
                                    <% let historial = historiales[historialTipo] || []; %>
                                    <% if (historial.length > 0) { %>
                    
                                        <!-- Título del historial -->
                    
                                        <!-- Iteración de datos del historial -->
                                        <% historial.forEach(dato => { %>
                                            <div class="tracking-item border-bottom pb-3 mb-3">
                    
                                                <!-- Icono y Fecha -->
                                                <div class="d-flex align-items-center justify-content-between mb-2">
                                                    <div class="tracking-icon status-intransit me-2">
                                                        <svg class="svg-inline--fa fa-circle fa-w-16" aria-hidden="true" viewBox="0 0 512 512">
                                                            <path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"></path>
                                                        </svg>
                                                    </div>
                    
                                                    <div class="tracking-date">
                                                        <%= dato.fecha ? new Date(dato.fecha).toLocaleDateString('es-MX', {
                                                            year: 'numeric', month: '2-digit', day: '2-digit'
                                                        }) : "Sin fecha" %>
                                                        <span class="text-muted">
                                                            <%= dato.fecha_cambio ? new Date(dato.fecha_cambio).toLocaleTimeString('es-MX') : "" %>
                                                        </span>
                                                    </div>
                                                    <div class="d-flex align-items-center justify-content-between mb-2">
                                                        <!-- Nombre de la Tabla con Badge -->
                                                        <div class="badge bg-primary text-wrap mb-2">
                                                            <%= historialTipo %>
                                                        </div>
                                                    </div>
                                                </div>
                    
                                                <!-- Estatus Condicionales -->
                                                <% let estatusClas = ""; %>
                                                <% if (dato.estatus === "Atendido") { %>
                                                    <% estatusClas = "text-success"; %>
                                                <% } else if (dato.estatus === "En Proceso") { %>
                                                    <% estatusClas = "text-warning"; %>
                                                <% } else if (dato.estatus === "Entregado A Setel") { %>
                                                    <% estatusClas = "text-primary"; %>
                                                <% } else if (dato.estatus === "Sin atender") { %>
                                                    <% estatusClas = "text-danger"; %>
                                                <% } else { %>
                                                    <% estatusClas = "text-secondary"; %>
                                                <% } %>
                    
                                                <!-- Estatus -->
                                                <% if (historialTipo !== "Becas" && historialTipo !== "Licencia sin goce" && historialTipo !== "Nombramientos") { %>
                                                    <div class="row mb-2">
                                                        <div class="col-sm-3 fw-bold">
                                                            Estatus:
                                                        </div>
                                                        <div class="col-sm-9 text-secondary">
                                                            <span class="<%= estatusClas %>">
                                                                <%= dato.estatus || "Estatus no especificado" %>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <hr class="mb-2" style="border-top: 1px solid #828282;">
                                                <% } %>
                    
                                                <!-- Docentes Disponibles, Solicitudes de cambio y Salud -->
                                                <% if (historialTipo === "Docentes disponibles" || historialTipo === "Solicitudes de Cambio" || historialTipo === "Salud e Inseguridad") { %>
                                                    <%- include('partials/docente-cambio-h', { dato: dato, historialTipo: historialTipo }) %>
                                                <% } %>
                    
                                                <!-- Solicitudes Generales -->
                                                <% if (historialTipo === "Solicitudes Generales") { %>
                                                    <%- include('partials/h-solicitudesGral', { dato: dato, historialTipo: historialTipo }) %>
                                                <% } %>
                    
                                                <!-- Becas -->
                                                <% if (historialTipo === "Becas") { %>
                                                    <%- include('partials/h-becas', { dato: dato, historialTipo: historialTipo }) %>
                                                <% } %>
                    
                                                <% if (historialTipo === "Licencia sin goce") { %>
                                                    <%- include('partials/h-licencias-goce', { dato: dato, historialTipo: historialTipo }) %>
                                                <% } %>
                    
                                                <% if (historialTipo === "Incidencias") { %>
                                                    <%- include('partials/h-incidencias', { dato: dato, historialTipo: historialTipo }) %>
                                                <% } %>
                    
                                                <!-- Observaciones -->
                                                <div class="mt-3">
                                                    <h6 class="badge bg-primary fs-6">Observaciones</h6>
                                                    <p class="mb-0">
                                                        <%= dato.observaciones || "Sin observaciones" %>
                                                    </p>
                                                </div>
                                            </div>
                                        <% }) %>
                    
                                    <% } %>
                                <% }) %>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<!-- Modal -->
<div class="modal fade" id="editarPersonalModal" tabindex="-1" aria-labelledby="editarPersonalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <%- include('partials/editar-perfil.ejs') %>
        </div>
    </div>
</div>

<script src="/js/Forms/editar-perfil-personal.js"></script>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Llamada inicial para mover el contenido correctamente al cargar la página
        window.addEventListener('resize', moverContenido);
        moverContenido(); // Llamar al cargar para verificar el estado de la pantalla
    });
    
    function moverContenido() {
        // Obtener los elementos del DOM
        const editarContenedor = document.getElementById('editarContenedor');
        const cardUbicacion = document.getElementById('cardUbicacion');
    
        // Verificar que ambos elementos existen antes de mover
        if (!editarContenedor || !cardUbicacion) return;
    
        const breakpointMd = 991; // Tamaño de pantalla para md hacia abajo (Bootstrap)
    
        // Si el tamaño de la pantalla es md o más pequeño
        if (window.innerWidth <= breakpointMd) {
            // Mover el div con el enlace "Editar" al contenedor de la tarjeta si aún no está allí
            if (!cardUbicacion.contains(editarContenedor)) {
                cardUbicacion.querySelector('.card-body').insertBefore(editarContenedor, cardUbicacion.querySelector('.card-body').firstChild);
            }
        } else {
            // Si la pantalla es más grande que md, mover el contenido de vuelta
            const originalContainer = document.querySelector('.row.justify-content-end');
            if (originalContainer && !originalContainer.contains(editarContenedor)) {
                originalContainer.appendChild(editarContenedor);
            }
        }
    }
    
    
    
                            </script>


<script>
    // Selecciona el elemento del span por su ID
    const nombreCompleto = document.getElementById("nombreCompleto");

    // Aplica la transformación de texto
    if (nombreCompleto) {
        nombreCompleto.textContent = nombreCompleto.textContent
            .toLowerCase() // Convierte todo a minúsculas
            .replace(/\b\w/g, (char) => char.toUpperCase()); // Capitaliza la primera letra de cada palabra
    }
</script>

